/org.eclipse.core.resources.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.junit.core.prefs
/org.eclipse.jdt.junit.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.ui.workbench.prefs
